.option-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.option {
    width: 300px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.option-gif img {
    width: 100%;
}

.option-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.option-title {
    text-align:center;
    padding: 10px;
    transition: all 700ms ease;
}

.breaker-container {
    height: 30px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.option:hover .option-title {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color: #fff;
}